{% extends 'basic.html' %}

{% block nav %}
	{% include 'admin/partials/navbar.html' %}
{% endblock %}

{% block content %}
	<h1>{{ _('Edit') }}</h1>
	<a class="block" href="{{ url_for('admin.article_list') }}">
		<strong>{{ _('Articles') }}</strong>
	</a>

	{% set item = old|default(article, true) %}
	<form action="{{ url_for('admin.article_update', art_id=article.id) }}" method="post" enctype="multipart/form-data">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		{% include 'admin/article/partials/form.html' %}
		<button type="submit">{{ _('Edit') }}</button>
	</form>

{% endblock %}

{% block footer %}
	{% include 'admin/partials/footer.html' %}
{% endblock %}