{% extends 'basic.html' %}

{% block nav %}
	{% include 'prime/partials/navbar.html' %}
{% endblock %}

{% block content %}
	<h1>{{ _('Articles') }}</h1>
	
	{% for article in pagination_articles.items %} 
		<img width="80" height="80" src="{{ url_for('static', filename=article.thumbUrl) }}">
		<strong>{{ article.name }}</strong>
		<a href="{{ url_for('prime.article_item', art_id=article.id) }}">
			{{ _('Show') }}
		</a>
	{% endfor %}

	{% set pagin = pagination_articles %}
	{% set pagin_url = 'admin.article_list' %}
	{% include 'admin/partials/pagination.html' %}

{% endblock %}

{% block footer %}
	{% include 'prime/partials/footer.html' %}
{% endblock %}